Repository profesowilliams/DigitalDesignSystem: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.+(js|jsx|ts|tsx)": [
      "prettier --write",
      "eslint --fix"
    ],
  "*.html": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.scss": [
    "prettier --write",
    "stylelint --fix"
  ]
}

Update CI pipeline for Chromatic
  azure-pipelines.yml
Due: none

Removed variable
  package.json
Due: none

Update to checkbox and background
  .storybook/preview.ts
  package-lock.json
  package.json
  src/components/Button/Button.stories.tsx
  src/components/Checkbox/Checkbox.stories.tsx
  src/components/Checkbox/checkbox.scss
  src/components/Checkbox/index.tsx
  src/components/index.ts
Due: prettier --write, stylelint --fix

Checkbox changes
  src/components/Checkbox/Checkbox.stories.tsx
Due: none

Auto accept changes on Chromatic CI/CD
  azure-pipelines.yml
Due: none

Radio colors update
  src/components/Radio/index.tsx
  src/components/Radio/radio.scss
Due: prettier --write, stylelint --fix

Tons of updates
  .storybook/preview.ts
  package-lock.json
  package.json
  src/components/Checkbox/checkbox.scss
  src/components/Checkbox/index.tsx
  src/components/Flyout/Flyout.stories.tsx
  src/components/Flyout/index.scss
  src/components/Flyout/index.tsx
  src/components/Modal/Modal.stories.tsx
  src/components/Modal/index.css
  src/components/Modal/index.tsx
  src/components/Modal/modal.scss
  src/components/Radio/Radio.stories.tsx
  src/components/Radio/index.tsx
  src/components/Radio/radio.scss
  src/components/Switch/switch.scss
  src/components/Toggle/Toggle.stories.tsx
  src/components/Toggle/index.tsx
  src/components/Toggle/toggle.scss
  src/components/Tooltip/Tooltip.stories.tsx
  src/components/Tooltip/index.scss
  src/components/Tooltip/index.tsx
  src/components/Tooltip/tooltip.txx
  src/components/index.ts
Due: prettier --write, stylelint --fix

Latest updates
  .storybook/docs-root.css
  package.json
  src/components/Accordion/Accordion.stories.tsx
  src/components/Accordion/accordion.scss
  src/components/Accordion/index.tsx
  src/components/Form/Form.Check.stories.txx
  src/components/Form/Form.Control.stories.txx
  src/components/Form/Form.FloatingLabel.stories.tsx
  src/components/Form/Form.Layout.stories.txx
  src/components/Form/Form.Range.stories.txx
  src/components/Modal/Modal.stories.tsx
  src/components/Modal/modal.scss
  src/components/Radio/Radio.stories.tsx
  src/components/TextField/TextField.stories.tsx
  src/components/TextField/index.tsx
  src/components/TextField/textfield.scss
  src/components/Tooltip/Tooltip.stories.tsx
  src/components/Tooltip/index.scss
  src/components/Tooltip/index.tsx
  src/components/Tooltip/tooltip.txx
  src/components/constants.ts
  src/components/index.ts
  src/styles/_base.scss
  src/styles/_common.scss
  src/styles/_overrides.scss
  src/styles/_reset.scss
  src/styles/_typography.scss
  src/styles/constants.ts
  src/styles/styles.scss
Due: prettier --write, stylelint --fix

Fixed accordion
  src/components/Accordion/accordion.scss
Due: prettier --write, stylelint --fix

EOD update
  .storybook/main.ts
  .storybook/preview.ts
  package-lock.json
  package.json
  src/components/Accordion/Accordion.stories.tsx
  src/components/Accordion/accordion.scss
  src/components/Button/Button.stories.tsx
  src/components/Button/button.scss
  src/components/Button/index.scss
  src/components/Button/index.tsx
  src/components/Checkbox/checkbox.scss
  src/components/Radio/Radio.stories.tsx
  src/components/Radio/radio.scss
  src/components/Tooltip/Tooltip.stories.tsx
  src/components/custom.scss
  src/components/index.ts
  src/components/main.scss
  src/global/abstracts/_index.scss
  src/global/base/_typography.scss
  src/styles/_base.scss
  src/styles/_common.scss
  src/styles/_overrides.scss
  src/styles/_reset.scss
  src/styles/_typography.scss
  src/styles/abstracts/_colors.scss
  src/styles/abstracts/_index.scss
  src/styles/abstracts/_mixins.scss
  src/styles/abstracts/_utility.scss
  src/styles/abstracts/_variables.scss
  src/styles/base/_reset.scss
  src/styles/base/_typography.scss
  src/styles/constants.ts
  src/styles/styles.scss
  src/styles/themes/_apj.scss
  src/styles/themes/_index.scss
  src/styles/themes/_tdsynnex.scss
  src/styles/themes/_techdata.scss
  src/styles/themes/_theme.scss
Due: prettier --write, stylelint --fix

Modify pipeline to run on develop
  azure-pipelines.yml
Due: none

End of day commit
  .storybook/main.ts
  .storybook/preview.ts
  package-lock.json
  package.json
  src/components/Accordion/Accordion.stories.tsx
  src/components/Accordion/accordion.scss
  src/components/Button/button.scss
  src/components/Button/themes/_apj.scss
  src/components/Button/themes/_index.scss
  src/components/Button/themes/_tdsynnex.scss
  src/components/Button/themes/_techdata.scss
  src/components/Button/themes/_theme.scss
  src/components/Tooltip/index.scss
  src/components/index.ts
  src/styles/abstracts/_colors.scss
  src/styles/abstracts/_variables.scss
Due: prettier --write, stylelint --fix

Button and Toast update
  src/components/Button/Button.stories.tsx
  src/components/Button/button.scss
  src/components/Button/index.tsx
  src/components/Card/Card.stories.tsx
  src/components/Card/cards.scss
  src/components/Checkbox/Checkbox.stories.tsx
  src/components/Dropdowns/Dropdowns.stories.tsx
  src/components/Flyout/Flyout.stories.tsx
  src/components/Modal/Modal.stories.tsx
  src/components/Modal/index.tsx
  src/components/Notification/Notification.stories.tsx
  src/components/Notification/index.tsx
  src/components/Toast/Toast.stories.tsx
  src/components/Toast/index.tsx
  src/components/Toast/toast.scss
  src/components/Tooltip/Tooltip.stories.tsx
  src/components/index.ts
Due: prettier --write, stylelint --fix

Radio updates
  src/components/Button/Button.stories.tsx
  src/components/Button/button.scss
  src/components/Radio/Radio.stories.tsx
  src/components/Radio/index.tsx
  src/components/Radio/radio.scss
Due: prettier --write, stylelint --fix

Dropdown and Notification update. Repo cleanup
  package-lock.json
  package.json
  src/components/Dropdowns/Dropdowns.stories.tsx
  src/components/Dropdowns/data.ts
  src/components/Dropdowns/dropdown.scss
  src/components/Dropdowns/index.tsx
  src/components/Form/Form.Check.stories.txx
  src/components/Form/Form.Control.stories.txx
  src/components/Form/Form.Layout.stories.txx
  src/components/Form/Form.Range.stories.txx
  src/components/Form/Form.Select.stories.tsx
  src/components/Form/Form.stories.tsx
  src/components/Form/index.tsx
  src/components/InputSearch/InputSearch.stories.tsx
  src/components/InputSearch/index.tsx
  src/components/Masthead/Masthead.stories.tsx
  src/components/Masthead/index.tsx
  src/components/Notification/Notification.stories.tsx
  src/components/Notification/index.tsx
  src/components/Notification/notification.scss
  src/components/index.ts
Due: prettier --write, stylelint --fix

Modal and Card beginning of day updates
  package-lock.json
  package.json
  src/components/Card/Card.stories.tsx
  src/components/Card/cards.scss
  src/components/Card/index.tsx
  src/components/Modal/modal.scss
Due: prettier --write, stylelint --fix

General updates
  .eslintrc
  .gitignore
  .storybook/main.ts
  jest.config.js
  package-lock.json
  package.json
  playwright.config.ts
  rollup.config.development.mjs
  rollup.config.js
  rollup.config.mjs
  rollup.config.production.js
  src/components/Accordion/Accordion.stories.tsx
  src/components/Checkbox/Checkbox.stories.tsx
  src/components/Dropdowns/data.ts
  src/components/Notification/index.tsx
  src/components/TextField/TextField.stories.tsx
  src/components/Typography/typography.json
  src/components/index.ts
  src/index.ts
  tsconfig.json
  vite.config.ts
Due: none

Added in submodules for removed folders
  .gitmodules
Due: none

Update to the build script name
  package.json
  rollup.config.mjs
Due: none

Node version
  package.json
Due: none

Chromatic and pipeline update
  azure-pipelines.yml
  package.json
Due: none

Upgraded Chromatic
  package-lock.json
  package.json
Due: none

Updated pipeline w/ submodules
  azure-pipelines.yml
Due: none

YAML update
  azure-pipelines.yml
Due: none

Update to gitsubmodule
  .gitmodules
Due: none

Vite and Rollup updates.
  .babelrc
  .gitignore
  .storybook/docs-root.css
  .storybook/lit/main.ts
  .storybook/lit/preview.ts
  .storybook/main.ts
  .storybook/preview-head.html
  .storybook/react/main.js
  .storybook/react/preview.js
  babel.config.js
  package-lock.json
  package.json
  rollup.config.development.mjs
  rollup.config.mjs
  rollup.config.production.js
  tsconfig.json
  vite.config.lit.js
  vite.config.react.js
  vite.config.ts
Due: eslint --fix, prettier --write

Latest configuration updates
  .storybook/lit/preview.ts
  .storybook/preview.ts
  .storybook/react/main.ts
  .storybook/react/preview.ts
Due: none

Updated Storybook builds
  .storybook/lit/main.ts
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/react/main.ts
  .storybook/react/preview.ts
  azure-pipelines.yml
  package-lock.json
  package.json
  playwright.config.ts
  test/Button/Button.test.ts
  test/SimpleTest/SimpleTest.test.ts
  tsconfig.json
  vite.config.lit.mts
  vite.config.react.js
  vite.config.react.mts
  web-test-runner.config.mjs
Due: none

Updated git ignore
  .gitignore
Due: none

Update pipeline
  azure-pipelines.yml
Due: none

Add submodule checkout in pipeline
  azure-pipelines.yml
Due: none

Storybook name failing
  package.json
Due: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: none

Storybook name failing
  azure-pipelines.yml
  package.json
Due: none

Storybook name failing
  azure-pipelines.yml
Due: none
